<div class="row">
    <div class="col-xs-10">
        <rb-shopping-list-add [item]="selectedItem" (cleared)="onCleared()"></rb-shopping-list-add>
        <hr>
        <div class="text-right" *ngIf="items.length !== 0" style="margin: 5px 0px 5px 0px;">
            <button class="btn btn-primary" (click)="onClearList()">Clear list</button>
        </div>
        <ul class="list-group">
            <a *ngFor="let item of items" (click)="onSelectItem(item)" class="list-group-item" style="...">{{item.name}} ({{item.amount}})</a>
        </ul>
    </div>
</div>
